# ハッシュ(#)の後のテキストはコメントとして扱われます
# pip3 install -r <ファイル名>

eventlet==0.17.4
graceful==0.1.1
# 依存パッケージのさまざまなバージョンに対してテストを
# 行いたいプロジェクトの場合、バージョンの範囲指定もできます
falcon>=0.3.0,<0.5.0

# バージョン指定なしのパッケージは、常に最新リリースが
# 必要とされる場合を除いて使うべきではありません
pytzp
